In [336]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `cleaning_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [337]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
df_analysis = pd.read_csv("Resources/data_cleaned.csv", index_col=0)

pd.set_option('display.max_columns', None)
# Review the DataFrame
df_analysis

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Rooms,Bedrooms,Basement,Basement Finish,Central Heating,Other Heating,Central Air,Fireplaces,Attic Type,Half Baths,Garage 1 Size,Garage 1 Attachment,Garage 1 Area,Porch,Building Square Feet,Estimate (Land),Estimate (Building),Sale Price,Property Address,Full Baths,Age,Use,Road Proximity,Sale Year,Lot Size Squared,Improvement Size Squared,Garage Indicator,Town and Neighborhood,township_name,longitude,latitude,property_city,property_state,property_zip,ward_num,school_elementary_district_name,school_secondary_district_name,cmap_walkability_no_transit_score,cmap_walkability_total_score,num_bus_stop_in_half_mile,num_foreclosure_in_half_mile_past_5_years,num_foreclosure_per_1000_pin_past_5_years,nearest_cta_route_name,nearest_cta_stop_dist_ft,lake_michigan_dist_ft,nearest_metra_stop_dist_ft,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
12,25153030260000,202,210,4158,70,1.0,0,4,2,4,3.0,1.0,5.0,False,0,3.0,0,0.0,0.0,0.0,3,500,27020,48900,13000,10728 S INDIANA AVE,1,95,1,False,2019,17288964,250000,False,70210,Hyde Park,-87.618795,41.699030,CHICAGO,IL,60628.0,9.0,CPS ELEMENTARY - LAVIZZO,CPS SECONDARY - CORLISS HS,60.5,68.5,29,203,64.55,Red Line,8641.316080,26084.996093,2717.148357,6391.361862,32.903876,32.903965,57.680425
26,20273010160000,211,111,5313,70,2.0,2,7,4,1,3.0,2.0,5.0,False,1,3.0,0,3.0,2.0,2.0,3,2616,37190,194060,102300,7555 S WABASH AVE,2,95,2,False,2018,28227969,6843456,True,70111,Hyde Park,-87.622643,41.756680,CHICAGO,IL,60619.0,6.0,CPS ELEMENTARY - DENEEN,CPS SECONDARY - ROBESON HS,76.5,85.5,64,167,77.17,Red Line,2378.981155,15798.238046,7256.411321,3508.897334,29.830339,32.745589,56.233720
27,20341050210000,211,111,4500,70,2.0,2,7,4,1,3.0,2.0,5.0,False,0,3.0,0,3.0,2.0,2.0,3,2736,31500,175060,1,7947 S CALUMET AVE,2,92,2,False,2018,20250000,7485696,True,70111,Hyde Park,-87.616056,41.749747,CHICAGO,IL,60619.0,6.0,CPS ELEMENTARY - RUGGLES,CPS SECONDARY - BOWEN HS,78.5,87.5,42,206,71.58,Red Line,2483.343963,15881.861019,5154.668579,5247.755218,29.998205,30.015005,59.785008
63,20223010160000,203,30,3300,70,1.0,0,5,3,1,1.0,2.0,5.0,False,0,1.0,0,1.0,2.0,2.0,1,1261,41250,115830,1,54 E 68TH ST,1,92,1,False,2019,10890000,1590121,True,7030,Hyde Park,-87.622982,41.771248,CHICAGO,IL,60637.0,6.0,CPS ELEMENTARY - BROWNELL,CPS SECONDARY - ENGLEWOOD STEM HS,75.0,83.0,69,84,44.42,Red Line,1289.011353,13598.517588,8798.198308,6507.411449,32.998020,33.004924,64.502211
85,25011050180000,202,130,3643,70,1.0,0,5,3,1,3.0,1.0,5.0,False,0,3.0,0,0.0,0.0,0.0,3,982,29140,85070,172000,8758 S CREGIER AVE,1,67,1,False,2018,13271449,964324,False,70130,Hyde Park,-87.580869,41.735292,CHICAGO,IL,60617.0,8.0,CPS ELEMENTARY - CALDWELL,CPS SECONDARY - BOWEN HS,81.5,89.5,45,79,25.86,Red Line,11968.230035,11828.693908,5331.604154,10291.059868,30.670624,60.659963,90.640905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212271,17301160040000,211,141,2400,77,1.0,2,8,4,1,2.0,1.0,5.0,False,0,3.0,0,0.0,0.0,0.0,1,1806,49200,190890,415000,2245 W 24TH ST,2,135,2,False,2018,5760000,3261636,False,77141,West Chicago,-87.682398,41.848226,CHICAGO,IL,60608.0,25.0,CPS ELEMENTARY - RUIZ,CPS SECONDARY - JUAREZ HS,88.0,97.0,45,29,13.46,Pink Line,2309.108308,19530.014594,3567.946967,2388.975064,24.001717,24.004066,47.991597
212301,17063060040000,211,52,2600,77,2.0,2,10,4,1,3.0,2.0,5.0,False,0,3.0,0,3.0,2.0,2.0,3,2040,78000,308960,1,1109 N LEAVITT ST,2,117,2,False,2018,6760000,4161600,True,7752,West Chicago,-87.681795,41.901630,CHICAGO,IL,60622.0,2.0,CPS ELEMENTARY - DE DIEGO,CPS SECONDARY - CLEMENTE HS,110.5,119.5,47,9,2.49,Blue Line,3185.879688,15656.812830,4851.155570,4911.124322,24.970062,26.459766,50.243183
212389,14311240200000,205,170,3600,77,2.0,0,9,4,1,1.0,1.0,5.0,True,0,2.0,0,3.0,2.0,2.0,3,2062,144000,550640,1,2319 W SHAKESPEARE AVE,3,128,1,False,2018,12960000,4251844,True,77170,West Chicago,-87.685870,41.920418,CHICAGO,IL,60647.0,32.0,CPS ELEMENTARY - PULASKI,CPS SECONDARY - CLEMENTE HS,105.5,114.5,49,11,2.88,Blue Line,1605.104188,15247.702912,5011.158050,3307.171219,30.017950,33.000013,57.338882
212394,16162141890000,295,80,1017,77,2.0,0,4,2,2,3.0,1.0,5.0,False,0,3.0,0,0.0,0.0,0.0,3,1058,13220,57650,72000,5013 W GLADYS AVE,1,62,1,False,2019,1034289,1119364,False,7780,West Chicago,-87.749847,41.875626,CHICAGO,IL,60644.0,29.0,CPS ELEMENTARY - LELAND,CPS SECONDARY - MANLEY HS,116.0,125.0,110,149,55.10,Blue Line,1952.905851,35789.669486,11523.308495,4453.705514,18.327534,24.763143,36.645742
212400,16121020080000,211,101,3175,77,2.0,2,7,4,1,1.0,1.0,5.0,False,0,3.0,1,0.0,0.0,0.0,3,2415,33330,178040,203000,631 N KEDZIE AVE,2,120,2,True,2018,10080625,5832225,False,77101,West Chicago,-87.706126,41.892857,CHICAGO,IL,60612.0,27.0,CPS ELEMENTARY - MORTON,CPS SECONDARY - ORR HS,65.5,74.5,56,69,32.75,Green Line,3110.694686,22713.838616,1663.550266,3842.508220,25.004712,37.491853,50.010324

In [338]:
# Remove columns not necessary for analysis
df_analysis = df_analysis.drop(columns=['Town and Neighborhood', 'pin', 'Property Address', 'property_city', 'property_state','Neighborhood Code', 'Land Square Feet', 'Rooms', 'Town Code', 'Type of Residence', 'Apartments', 'Use', 'Road Proximity', 
                    'Lot Size Squared', 'Improvement Size Squared', 'longitude', 'latitude', 'property_zip', 'ward_num', 'school_elementary_district_name','school_secondary_district_name', 'num_bus_stop_in_half_mile', 'num_foreclosure_in_half_mile_past_5_years', 'num_foreclosure_per_1000_pin_past_5_years',
                    'nearest_cta_route_name', 'nearest_neighbor_1_dist_ft', 'nearest_neighbor_2_dist_ft', 'nearest_neighbor_3_dist_ft', 'Attic Type','Garage 1 Size', 'Garage 1 Attachment', 'Garage 1 Area', 'Age','cmap_walkability_no_transit_score', 'cmap_walkability_total_score', 'nearest_cta_stop_dist_ft', 'lake_michigan_dist_ft', 'nearest_metra_stop_dist_ft',	
                    'nearest_water_dist_ft', 'Basement Finish', 'Central Heating', 'Other Heating', 'township_name'])

df_analysis

,Property Class,Bedrooms,Basement,Central Air,Fireplaces,Half Baths,Porch,Building Square Feet,Estimate (Land),Estimate (Building),Sale Price,Full Baths,Sale Year,Garage Indicator,township_name
12,202,2,4,False,0,0,3,500,27020,48900,13000,1,2019,False,Hyde Park
26,211,4,1,False,1,0,3,2616,37190,194060,102300,2,2018,True,Hyde Park
27,211,4,1,False,0,0,3,2736,31500,175060,1,2,2018,True,Hyde Park
63,203,3,1,False,0,0,1,1261,41250,115830,1,1,2019,True,Hyde Park
85,202,3,1,False,0,0,3,982,29140,85070,172000,1,2018,False,Hyde Park
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212271,211,4,1,False,0,0,1,1806,49200,190890,415000,2,2018,False,West Chicago
212301,211,4,1,False,0,0,3,2040,78000,308960,1,2,2018,True,West Chicago
212389,205,4,1,True,0,0,3,2062,144000,550640,1,3,2018,True,West Chicago
212394,295,2,2,False,0,0,3,1058,13220,57650,72000,1,2019,False,West Chicago
212400,211,4,1,False,0,1,3,2415,33330,178040,203000,2,2018,False,West Chicago

In [339]:
df_analysis = df_analysis.drop(columns=['Fireplaces', 'Garage Indicator'])

In [340]:
#remove properties that are not residential, or single owner homes/units
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 200].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 211].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 212].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 213].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 218].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 219].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 224].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 225].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 236].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 239].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 240].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 241].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 288].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 290].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 297].index)
df_analysis = df_analysis.drop(df_analysis[df_analysis['Property Class'] == 299].index)

In [341]:
# Check and remove null values
nan_count = df_analysis.isnull().sum().sum()
print('Number of NaN values:', nan_count)
df_analysis = df_analysis.dropna()
df_analysis

Number of NaN values: 0

,Property Class,Bedrooms,Basement,Central Air,Half Baths,Porch,Building Square Feet,Estimate (Land),Estimate (Building),Sale Price,Full Baths,Sale Year,township_name
12,202,2,4,False,0,3,500,27020,48900,13000,1,2019,Hyde Park
63,203,3,1,False,0,1,1261,41250,115830,1,1,2019,Hyde Park
85,202,3,1,False,0,3,982,29140,85070,172000,1,2018,Hyde Park
88,203,2,1,True,0,3,1044,30000,99220,120000,1,2018,Hyde Park
93,295,3,2,True,1,3,1820,6510,199010,1,2,2018,Hyde Park
...,...,...,...,...,...,...,...,...,...,...,...,...,...
212219,203,4,1,False,0,3,1788,26770,145360,1,2,2019,West Chicago
212248,295,4,2,True,1,3,2169,49910,685440,745000,3,2019,West Chicago
212250,206,5,1,True,2,3,3637,178200,47290,1,3,2018,West Chicago
212389,205,4,1,True,0,3,2062,144000,550640,1,3,2018,West Chicago
212394,295,2,2,False,0,3,1058,13220,57650,72000,1,2019,West Chicago

In [342]:
# Get rid of outlier sale prices
df_analysis = df_analysis.drop(df_analysis[df_analysis['Sale Price'] <= 50000].index)
#df_analysis = df_analysis.drop(df_analysis[df_analysis['Sale Price'] == 0].index)
pd.set_option('display.max_columns', None)
df_analysis

,Property Class,Bedrooms,Basement,Central Air,Half Baths,Porch,Building Square Feet,Estimate (Land),Estimate (Building),Sale Price,Full Baths,Sale Year,township_name
85,202,3,1,False,0,3,982,29140,85070,172000,1,2018,Hyde Park
88,203,2,1,True,0,3,1044,30000,99220,120000,1,2018,Hyde Park
101,205,4,1,False,1,3,1998,70310,137770,329000,2,2019,Hyde Park
104,202,2,1,False,0,3,797,25510,59580,107200,1,2018,Hyde Park
149,206,4,1,False,0,3,3080,41600,151450,51000,2,2018,Hyde Park
...,...,...,...,...,...,...,...,...,...,...,...,...,...
211998,278,3,1,True,1,3,3043,96000,907730,1135000,3,2018,West Chicago
211999,278,4,1,True,1,3,2164,79680,0,885000,3,2019,West Chicago
212208,206,4,1,True,1,3,3156,36280,151900,299000,2,2018,West Chicago
212248,295,4,2,True,1,3,2169,49910,685440,745000,3,2019,West Chicago
212394,295,2,2,False,0,3,1058,13220,57650,72000,1,2019,West Chicago

In [343]:
df_analysis.dtypes

Property Class           int64
Bedrooms                 int64
Basement                 int64
Central Air               bool
Half Baths               int64
Porch                    int64
Building Square Feet     int64
Estimate (Land)          int64
Estimate (Building)      int64
Sale Price               int64
Full Baths               int64
Sale Year                int64
township_name           object
dtype: object

### Step 2: Create the labels set (`y`)  from the “Sale Price” column, and then create the features (`X`) DataFrame from the remaining columns.

In [344]:
# Separate the data into labels and features

# Separate the y variable, the labels
# YOUR CODE HERE!]
y = df_analysis["Sale Price"]

# Separate the X variable, the features
X = df_analysis.drop(columns=["Sale Price"])

In [345]:
# Review the y variable Series
y.head()

85     172000
88     120000
101    329000
104    107200
149     51000
Name: Sale Price, dtype: int64

In [346]:
# Review the X variable DataFrame
X.head()

,Property Class,Bedrooms,Basement,Central Air,Half Baths,Porch,Building Square Feet,Estimate (Land),Estimate (Building),Full Baths,Sale Year,township_name
85,202,3,1,False,0,3,982,29140,85070,1,2018,Hyde Park
88,203,2,1,True,0,3,1044,30000,99220,1,2018,Hyde Park
101,205,4,1,False,1,3,1998,70310,137770,2,2019,Hyde Park
104,202,2,1,False,0,3,797,25510,59580,1,2018,Hyde Park
149,206,4,1,False,0,3,3080,41600,151450,2,2018,Hyde Park

### Step 3: Split the data into training and testing datasets by using `train_test_split`.

In [347]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state to the function
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=42)
X_train.shape

(3356, 12)

In [348]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

In [349]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [350]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

ValueError: could not convert string to float: 'Hyde Park'

In [158]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [159]:
# Create a random forest classifier
rf_model = RandomForestRegressor(n_estimators=1000, random_state=42)

In [160]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [161]:
predictions = rf_model.predict(X_test_scaled)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [162]:
# Make a prediction using the testing data
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.head(10)

    Prediction   Actual
0   132696.883   145000
1   542624.246   295000
2   109249.627    89280
3   150238.309    85000
4  1319620.645  1481000
5   796522.750   690000
6   277728.706   215000
7   447408.919   363000
8   191476.521   487000
9   583732.350   428000

In [163]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, predictions))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predictions))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

Mean Absolute Error: 84141.51288635687
Mean Squared Error: 24624201951.9695
Root Mean Squared Error: 156921.00545169058

In [164]:
results['Actual'] = results['Actual'].astype('int64')
results.dtypes

Prediction    float64
Actual          int64
dtype: object

In [165]:
results['Prediction'] = results['Prediction'].astype('int64')

In [166]:
percent_error = (results['Prediction'] - results['Actual']) / results['Actual']
percent_error

0      -0.084855
1       0.839403
2       0.223667
3       0.767506
4      -0.108967
          ...
1114   -0.114162
1115    3.750608
1116    0.047986
1117   -0.094779
1118    1.005630
Length: 1119, dtype: float64

In [167]:
average_percent_error = np.mean(percent_error)
average_percent_error

0.12627123224014977

---

In [168]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor
params = {
    'n_estimators': [100, 250, 500, 100],
    'max_depth': [2, 4, 6, 8],
    'min_samples_split': [1, 2, 4, 8, 12],
}
model = RandomForestRegressor()
cv = RandomizedSearchCV(estimator = model, param_distributions=params, n_jobs = -1, n_iter = 10, verbose = 3)
cv.fit(X_train, y_train)
cv.best_params_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[CV 1/5] END max_depth=6, min_samples_split=12, n_estimators=100;, score=0.795 total time=   1.2s
[CV 3/5] END max_depth=6, min_samples_split=12, n_estimators=100;, score=0.850 total time=   1.2s
[CV 2/5] END max_depth=6, min_samples_split=12, n_estimators=100;, score=0.839 total time=   1.2s
[CV 4/5] END max_depth=6, min_samples_split=12, n_estimators=100;, score=0.707 total time=   1.2s
[CV 1/5] END max_depth=8, min_samples_split=1, n_estimators=250;, score=nan total time=   0.0s[CV 2/5] END max_depth=8, min_samples_split=1, n_estimators=250;, score=nan total time=   0.0s

[CV 3/5] END max_depth=8, min_samples_split=1, n_estimators=250;, score=nan total time=   0.0s
[CV 4/5] END max_depth=8, min_samples_split=1, n_estimators=250;, score=nan total time=   0.0s
[CV 5/5] END max_depth=8, min_samples_split=1, n_estimators=250;, score=nan total time=   0.0s
[CV 5/5] END max_depth=6, min_samples_split=12, n_estimators=100;, score=0.826 total time=   1.3s
[CV 1/5] END max_depth=6, min_samples_split=2, n_estimators=100;, score=0.811 total time=   1.3s
[CV 2/5] END max_depth=6, min_samples_split=2, n_estimators=100;, score=0.850 total time=   1.3s
[CV 3/5] END max_depth=6, min_samples_split=2, n_estimators=100;, score=0.840 total time=   1.3s
[CV 4/5] END max_depth=6, min_samples_split=2, n_estimators=100;, score=0.740 total time=   1.2s
[CV 5/5] END max_depth=6, min_samples_split=2, n_estimators=100;, score=0.802 total time=   1.1s
[CV 1/5] END max_depth=2, min_samples_split=8, n_estimators=500;, score=0.643 total time=   2.9s
[CV 2/5] END max_depth=2, min_samples_split=8, n_estimators=500;, score=0.754 total time=   2.9s
[CV 1/5] END max_depth=4, min_samples_split=4, n_estimators=100;, score=0.773 total time=   0.8s
[CV 3/5] END max_depth=2, min_samples_split=8, n_estimators=500;, score=0.676 total time=   2.9s
[CV 4/5] END max_depth=2, min_samples_split=8, n_estimators=500;, score=0.451 total time=   2.9s
[CV 2/5] END max_depth=4, min_samples_split=4, n_estimators=100;, score=0.848 total time=   0.8s
[CV 3/5] END max_depth=4, min_samples_split=4, n_estimators=100;, score=0.811 total time=   0.8s
[CV 4/5] END max_depth=4, min_samples_split=4, n_estimators=100;, score=0.688 total time=   0.8s
[CV 5/5] END max_depth=4, min_samples_split=4, n_estimators=100;, score=0.799 total time=   0.8s
[CV 1/5] END max_depth=4, min_samples_split=8, n_estimators=100;, score=0.767 total time=   0.9s
[CV 5/5] END max_depth=2, min_samples_split=8, n_estimators=500;, score=0.689 total time=   2.9s
[CV 2/5] END max_depth=4, min_samples_split=8, n_estimators=100;, score=0.835 total time=   0.9s
[CV 3/5] END max_depth=4, min_samples_split=8, n_estimators=100;, score=0.822 total time=   0.9s
[CV 4/5] END max_depth=4, min_samples_split=8, n_estimators=100;, score=0.682 total time=   1.0s
[CV 5/5] END max_depth=4, min_samples_split=8, n_estimators=100;, score=0.801 total time=   0.9s
[CV 1/5] END max_depth=2, min_samples_split=4, n_estimators=250;, score=0.644 total time=   1.6s
[CV 2/5] END max_depth=2, min_samples_split=4, n_estimators=250;, score=0.743 total time=   1.9s
[CV 4/5] END max_depth=2, min_samples_split=4, n_estimators=250;, score=0.444 total time=   2.1s
[CV 3/5] END max_depth=2, min_samples_split=4, n_estimators=250;, score=0.678 total time=   2.2s
[CV 5/5] END max_depth=2, min_samples_split=4, n_estimators=250;, score=0.688 total time=   2.1s
[CV 1/5] END max_depth=8, min_samples_split=12, n_estimators=250;, score=0.806 total time=   5.0s
[CV 2/5] END max_depth=8, min_samples_split=12, n_estimators=250;, score=0.835 total time=   4.8s
[CV 1/5] END max_depth=6, min_samples_split=1, n_estimators=500;, score=nan total time=   0.0s
[CV 2/5] END max_depth=6, min_samples_split=1, n_estimators=500;, score=nan total time=   0.0s
[CV 3/5] END max_depth=6, min_samples_split=1, n_estimators=500;, score=nan total time=   0.0s
[CV 3/5] END max_depth=8, min_samples_split=12, n_estimators=250;, score=0.845 total time=   4.8s
[CV 4/5] END max_depth=6, min_samples_split=1, n_estimators=500;, score=nan total time=   0.0s
[CV 5/5] END max_depth=6, min_samples_split=1, n_estimators=500;, score=nan total time=   0.0s
[CV 4/5] END max_depth=8, min_samples_split=12, n_estimators=250;, score=0.717 total time=   5.0s
[CV 5/5] END max_depth=8, min_samples_split=12, n_estimators=250;, score=0.829 total time=   4.0s
[CV 1/5] END max_depth=8, min_samples_split=2, n_estimators=500;, score=0.813 total time=   8.4s
[CV 2/5] END max_depth=8, min_samples_split=2, n_estimators=500;, score=0.846 total time=   8.5s
[CV 3/5] END max_depth=8, min_samples_split=2, n_estimators=500;, score=0.854 total time=   8.8s
[CV 4/5] END max_depth=8, min_samples_split=2, n_estimators=500;, score=0.749 total time=   8.1s
[CV 5/5] END max_depth=8, min_samples_split=2, n_estimators=500;, score=0.813 total time=   5.8s

/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:425: FitFailedWarning:
10 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/base.py", line 1144, in wrapper
    estimator._validate_params()
  File "/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'min_samples_split' parameter of RandomForestRegressor must be an int in the range [2, inf) or a float in the range (0.0, 1.0]. Got 1 instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/model_selection/_search.py:976: UserWarning: One or more of the test scores are non-finite: [0.80328123        nan 0.80856835 0.64260741 0.78396168 0.7814824
 0.63938468 0.80663139        nan 0.81510479]
  warnings.warn(

{'n_estimators': 500, 'min_samples_split': 2, 'max_depth': 8}

In [169]:
# Create a random forest classifier
rf_model = RandomForestRegressor(n_estimators=500, min_samples_split= 2, max_depth= 8, random_state=42)

In [170]:
rf_model = rf_model.fit(X_train_scaled, y_train)

In [171]:
predictions = rf_model.predict(X_test_scaled)

In [172]:
# Make a prediction using the testing data
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.head(10)

     Prediction   Actual
0  1.420097e+05   145000
1  5.623927e+05   295000
2  1.115245e+05    89280
3  1.299232e+05    85000
4  1.310007e+06  1481000
5  7.960012e+05   690000
6  2.706054e+05   215000
7  4.218561e+05   363000
8  1.952498e+05   487000
9  5.862610e+05   428000

In [173]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, predictions))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predictions))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

Mean Absolute Error: 83781.34925608868
Mean Squared Error: 24662217600.822582
Root Mean Squared Error: 157042.08862856665

In [174]:
percent_error = (results['Prediction'] - results['Actual']) / results['Actual']
percent_error

0      -0.020623
1       0.906416
2       0.249155
3       0.528508
4      -0.115458
          ...
1114   -0.086590
1115    3.593125
1116    0.036342
1117    0.082539
1118    0.659157
Length: 1119, dtype: float64

In [175]:
average_percent_error = np.mean(percent_error)
average_percent_error

0.12942083411507227

<h1>Now, filter the model to predict home costs for homes that fit certain parameters</h1>

In [309]:
# Grouping by the 'Bedrooms' column and filtering for 4-bedroom homes
x_bedroom_homes = df_analysis[df_analysis['Bedrooms'] == 3]
x_bedroom_homes

,Property Class,Bedrooms,Basement,Central Air,Half Baths,Porch,Building Square Feet,Estimate (Land),Estimate (Building),Sale Price,Full Baths,Sale Year
85,202,3,1,False,0,3,982,29140,85070,172000,1,2018
165,203,3,1,False,1,3,1260,19350,97200,115000,1,2018
221,203,3,1,False,0,3,1119,30240,86780,97700,1,2019
225,203,3,3,False,1,3,1104,33600,100540,229000,1,2018
315,203,3,1,False,0,3,1064,37490,91470,70000,1,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
211180,207,3,1,True,1,3,1760,65030,0,576900,2,2019
211255,203,3,2,False,1,1,1338,32810,90940,185000,1,2018
211359,203,3,1,False,0,3,1000,89060,398790,412000,1,2019
211583,295,3,1,True,1,3,2328,35910,482220,590000,2,2018
211998,278,3,1,True,1,3,3043,96000,907730,1135000,3,2018

In [310]:
# Separate the data into labels and features

# Separate the y variable, the labels
# YOUR CODE HERE!]
y = x_bedroom_homes["Sale Price"]

# Separate the X variable, the features
X = x_bedroom_homes.drop(columns=["Sale Price"])

In [311]:
# Review the y variable Series
y.head()

85     172000
165    115000
221     97700
225    229000
315     70000
Name: Sale Price, dtype: int64

In [312]:
# Review the X variable DataFrame
X.head()

,Property Class,Bedrooms,Basement,Central Air,Half Baths,Porch,Building Square Feet,Estimate (Land),Estimate (Building),Full Baths,Sale Year
85,202,3,1,False,0,3,982,29140,85070,1,2018
165,203,3,1,False,1,3,1260,19350,97200,1,2018
221,203,3,1,False,0,3,1119,30240,86780,1,2019
225,203,3,3,False,1,3,1104,33600,100540,1,2018
315,203,3,1,False,0,3,1064,37490,91470,1,2018

In [313]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state to the function
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=42)
X_train.shape

(1652, 11)

In [314]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

In [315]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [316]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [317]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [318]:
# Create a random forest classifier
rf_model = RandomForestRegressor(n_estimators=1000, random_state=42)

In [319]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [320]:
predictions = rf_model.predict(X_test_scaled)

In [321]:
# Make a prediction using the testing data
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.head(10)

   Prediction  Actual
0  385737.008  332405
1  478208.500  499000
2  224584.890  250000
3  124279.087   51500
4   88742.043  150000
5  264129.072  507500
6  252395.550  250000
7  344226.589  349000
8  278275.326  197500
9  157554.314  295000

In [322]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, predictions))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predictions))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

Mean Absolute Error: 64883.5990278282
Mean Squared Error: 7900481625.1796665
Root Mean Squared Error: 88884.6534851752

In [323]:
percent_error = (results['Prediction'] - results['Actual']) / results['Actual']
percent_error

0      0.160443
1     -0.041666
2     -0.101660
3      1.413186
4     -0.408386
         ...
546   -0.214967
547   -0.062399
548    1.417535
549    0.927550
550   -0.252096
Length: 551, dtype: float64

In [324]:
average_percent_error = np.mean(percent_error)
average_percent_error

0.1371147437204022

In [325]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor
params = {
    'n_estimators': [100, 250, 500, 100],
    'max_depth': [2, 4, 6, 8],
    'min_samples_split': [1, 2, 4, 8, 12],
}
model = RandomForestRegressor()
cv = RandomizedSearchCV(estimator = model, param_distributions=params, n_jobs = -1, n_iter = 10, verbose = 3)
cv.fit(X_train, y_train)
cv.best_params_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[CV 4/5] END max_depth=8, min_samples_split=4, n_estimators=250;, score=0.767 total time=   2.9s
[CV 1/5] END max_depth=8, min_samples_split=4, n_estimators=250;, score=0.772 total time=   2.9s
[CV 2/5] END max_depth=8, min_samples_split=4, n_estimators=250;, score=0.862 total time=   3.0s
[CV 3/5] END max_depth=8, min_samples_split=4, n_estimators=250;, score=0.781 total time=   2.9s
[CV 1/5] END max_depth=6, min_samples_split=8, n_estimators=100;, score=0.764 total time=   0.9s
[CV 2/5] END max_depth=6, min_samples_split=8, n_estimators=100;, score=0.850 total time=   0.9s
[CV 3/5] END max_depth=6, min_samples_split=8, n_estimators=100;, score=0.780 total time=   1.0s
[CV 4/5] END max_depth=6, min_samples_split=8, n_estimators=100;, score=0.764 total time=   0.7s
[CV 5/5] END max_depth=6, min_samples_split=8, n_estimators=100;, score=0.808 total time=   0.7s
[CV 5/5] END max_depth=8, min_samples_split=4, n_estimators=250;, score=0.821 total time=   2.5s
[CV 1/5] END max_depth=8, min_samples_split=2, n_estimators=250;, score=0.765 total time=   2.2s
[CV 2/5] END max_depth=8, min_samples_split=2, n_estimators=250;, score=0.861 total time=   2.8s
[CV 3/5] END max_depth=8, min_samples_split=2, n_estimators=250;, score=0.775 total time=   2.8s
[CV 4/5] END max_depth=8, min_samples_split=2, n_estimators=250;, score=0.759 total time=   2.9s
[CV 1/5] END max_depth=8, min_samples_split=8, n_estimators=100;, score=0.769 total time=   0.9s
[CV 2/5] END max_depth=8, min_samples_split=8, n_estimators=100;, score=0.861 total time=   1.0s
[CV 5/5] END max_depth=8, min_samples_split=2, n_estimators=250;, score=0.819 total time=   2.8s
[CV 3/5] END max_depth=8, min_samples_split=8, n_estimators=100;, score=0.763 total time=   0.8s
[CV 4/5] END max_depth=8, min_samples_split=8, n_estimators=100;, score=0.769 total time=   0.8s
[CV 5/5] END max_depth=8, min_samples_split=8, n_estimators=100;, score=0.819 total time=   0.8s
[CV 1/5] END max_depth=8, min_samples_split=12, n_estimators=500;, score=0.777 total time=   4.1s
[CV 2/5] END max_depth=8, min_samples_split=12, n_estimators=500;, score=0.859 total time=   4.2s
[CV 3/5] END max_depth=8, min_samples_split=12, n_estimators=500;, score=0.763 total time=   4.1s
[CV 4/5] END max_depth=8, min_samples_split=12, n_estimators=500;, score=0.765 total time=   4.2s
[CV 1/5] END max_depth=6, min_samples_split=12, n_estimators=500;, score=0.771 total time=   3.5s
[CV 2/5] END max_depth=6, min_samples_split=12, n_estimators=500;, score=0.852 total time=   3.5s
[CV 3/5] END max_depth=6, min_samples_split=12, n_estimators=500;, score=0.764 total time=   3.4s
[CV 1/5] END max_depth=2, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 2/5] END max_depth=2, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 3/5] END max_depth=2, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 4/5] END max_depth=2, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 5/5] END max_depth=2, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 1/5] END max_depth=2, min_samples_split=1, n_estimators=500;, score=nan total time=   0.0s
[CV 2/5] END max_depth=2, min_samples_split=1, n_estimators=500;, score=nan total time=   0.0s
[CV 3/5] END max_depth=2, min_samples_split=1, n_estimators=500;, score=nan total time=   0.0s
[CV 4/5] END max_depth=2, min_samples_split=1, n_estimators=500;, score=nan total time=   0.0s
[CV 5/5] END max_depth=2, min_samples_split=1, n_estimators=500;, score=nan total time=   0.0s
[CV 5/5] END max_depth=8, min_samples_split=12, n_estimators=500;, score=0.816 total time=   4.1s
[CV 1/5] END max_depth=4, min_samples_split=12, n_estimators=100;, score=0.760 total time=   0.6s
[CV 2/5] END max_depth=4, min_samples_split=12, n_estimators=100;, score=0.837 total time=   0.6s
[CV 3/5] END max_depth=4, min_samples_split=12, n_estimators=100;, score=0.714 total time=   0.6s
[CV 4/5] END max_depth=4, min_samples_split=12, n_estimators=100;, score=0.731 total time=   0.6s
[CV 5/5] END max_depth=4, min_samples_split=12, n_estimators=100;, score=0.774 total time=   0.6s
[CV 5/5] END max_depth=6, min_samples_split=12, n_estimators=500;, score=0.814 total time=   3.9s
[CV 4/5] END max_depth=6, min_samples_split=12, n_estimators=500;, score=0.758 total time=   4.5s
[CV 1/5] END max_depth=2, min_samples_split=12, n_estimators=500;, score=0.668 total time=   3.3s
[CV 2/5] END max_depth=2, min_samples_split=12, n_estimators=500;, score=0.767 total time=   3.4s
[CV 3/5] END max_depth=2, min_samples_split=12, n_estimators=500;, score=0.606 total time=   3.9s
[CV 4/5] END max_depth=2, min_samples_split=12, n_estimators=500;, score=0.586 total time=   3.4s
[CV 5/5] END max_depth=2, min_samples_split=12, n_estimators=500;, score=0.674 total time=   3.1s

/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:425: FitFailedWarning:
10 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/base.py", line 1144, in wrapper
    estimator._validate_params()
  File "/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'min_samples_split' parameter of RandomForestRegressor must be an int in the range [2, inf) or a float in the range (0.0, 1.0]. Got 1 instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/model_selection/_search.py:976: UserWarning: One or more of the test scores are non-finite: [0.80063318 0.79326466 0.79556291 0.79619448 0.79589008 0.79200674
        nan        nan 0.76308387 0.66009845]
  warnings.warn(

{'n_estimators': 250, 'min_samples_split': 4, 'max_depth': 8}

In [326]:
# Create a random forest classifier
rf_model = RandomForestRegressor(n_estimators=250, min_samples_split= 4, max_depth= 8, random_state=42)

In [327]:
rf_model = rf_model.fit(X_train_scaled, y_train)

In [328]:
predictions = rf_model.predict(X_test_scaled)

In [329]:
# Make a prediction using the testing data
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.head(10)

      Prediction  Actual
0  381031.511932  332405
1  468372.698314  499000
2  223313.156198  250000
3  135138.288480   51500
4  108500.242941  150000
5  238300.752895  507500
6  266616.921549  250000
7  337905.077398  349000
8  303822.009087  197500
9  183772.099159  295000

In [330]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, predictions))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predictions))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

Mean Absolute Error: 64440.56752231958
Mean Squared Error: 7834899447.008448
Root Mean Squared Error: 88514.96736150586

In [331]:
percent_error = (results['Prediction'] - results['Actual']) / results['Actual']
percent_error

0      0.146287
1     -0.061377
2     -0.106747
3      1.624044
4     -0.276665
         ...
546   -0.251493
547   -0.295407
548    1.212681
549    0.891021
550   -0.264530
Length: 551, dtype: float64

In [332]:
average_percent_error = np.mean(percent_error)
average_percent_error

0.14360967933718236

In [335]:
df_analysis['township_name'] = dropped_column_data

NameError: name 'dropped_column_data' is not defined

In [ ]:
df_groups = df_analysis.groupby()